<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- <connectionStrings>
    <add name="MyCDSServer"
     connectionString="
      AuthType=OAuth;
      Username=jsmith@contoso.onmicrosoft.com;
      Password=T!T@n1130;
      Url=https://contosotest.crm.dynamics.com;
      AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;
      RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;
      TokenCacheStorePath=c:\MyTokenCache;
      LoginPrompt=Auto"/>
  </connectionStrings> -->
  <appSettings>
    <add key="OrgName" value="CITTest"/>
    <add key="HostName" value="AURORAV54367.AURORAV54367DOM.EXTEST.MICROSOFT.COM"/>
    <add key="UserName" value="Administrator"/>
    <add key="Password" value="T!T@n1130"/>
  </appSettings>
</configuration>
